.ff-main {
    font-family: $ff-one;
}
.ff-lead {
    font-family: $ff-two;
}
.ls-1 {
    letter-spacing: 1px;
}
.ls-2 {
    letter-spacing: 2px;
}
.ls-3 {
    letter-spacing: 3px;
}
.ls-5 {
    letter-spacing: 5px;
}