// my own var
$cambridge-blue: hsla(143, 30%, 60%, 1);
$celadon: hsla(136, 29%, 75%, 1);
$mint-cream: hsla(120, 24%, 94%, 1);
// $white: #fff;
$caput-mortuum: hsla(13, 46%, 22%, 1);
$black-bean: hsla(353, 50%, 13%, 1);
// $caramel: hsla(35, 75%, 55%, 1);
// $espresso: hsla(30, 25%, 15%, 1);
// $seal-brown: #422110;
$smokey-black: #12100e;
$ochre: #DB7C26;
$sage: #C7C7A6;
$burnt-orange: #BC5D2E;

$ff-one: 'Archivo Narrow', sans-serif;
$ff-two: 'Poiret One', sans-serif;

// Coffee-themed colors
$coffee-brown: #4A2C1D;
$caramel: #B1733F;
$cream: #F8F4EB;
$espresso: #2B1B17;
$latte: #D5B59F;
$accent-green: #678963;
$accent-red: #A43F37;

$primary: $coffee-brown;
$secondary: $caramel;
$success: $accent-green;
$info: $latte;
$warning: $accent-red;
$danger: $espresso;
$light: $cream;
$dark: $black-bean;
